* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
.template {
    height: 700px;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    padding: 70px;
    background-color:rgb(33, 42, 58);
}
.main_text {
    margin-top: 80px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 55px;
}
.green_text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: rgb(48, 219, 114);
}
.gray_text {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: rgb(162, 163, 162);
}
.generate_button {
    margin-top: 80px;
    height: 60px;
    width: 350px;
    border-width: 0;
    border-radius: 8px;
    background-color: rgb(35, 199, 131);
    color: white;
    font-size: 28px;
    cursor: pointer;
}
.generate_button:hover {
    color: black;
}
#input {
    margin-left: 50px;
    padding-left: 9px;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    font-size: xx-large;
    color: white;
    background-color: transparent;
}
.line {
    border-top: 2px solid rgb(53, 67, 90);
    margin-top: 60px;
    margin-bottom: 60px;
}
.outputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 35px;
}
.output {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: auto;
    width: 320px;
    height: 60px;
    background-color: rgb(53, 67, 90);
    color: rgb(48, 219, 114);
    cursor: pointer;
}
.output:hover {
    background-color: rgb(106, 111, 119);
}